<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Creado</title>
</head>
<body>
    <!-- <h1>Crear producto</h1>
    <form action="post" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre">
        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion">
        <button type="submit"></button>
    </form> -->
    <h1>Producto Creado:</h1>
    <p>Nombre: {{ producto.nombre }}</p>
    <p>Descripción: {{ producto.descripcion }}</p>
    <p>Precio: ${{ producto.precio }}</p>
</body>
</html>
