{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>Este es mi titulo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, incidunt assumenda voluptas minima placeat magnam nemo facilis alias nisi! Quod maiores adipisci perferendis magnam tempora debitis quam commodi pariatur provident.</p>
    <hr>
    {% if cursos_realizados %}
    {% else %}
        {%  include "mensaje.html" %}
        {% block content %}
        {% endblock %}
    {% endif %}


</body>
</html>